<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1049054307848-aflnnl0th71u6eshtpjn1tdq5278q075.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049054307848-aflnnl0th71u6eshtpjn1tdq5278q075</string>
	<key>API_KEY</key>
	<string>AIzaSyAbPZJcUVLUmEufU3nCLPi1hiCBpYoYgc8</string>
	<key>GCM_SENDER_ID</key>
	<string>1049054307848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minhwang.Damon</string>
	<key>PROJECT_ID</key>
	<string>damon-ae5d0</string>
	<key>STORAGE_BUCKET</key>
	<string>damon-ae5d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049054307848:ios:df7246efad1b3a0a</string>
	<key>DATABASE_URL</key>
	<string>https://damon-ae5d0.firebaseio.com</string>
</dict>
</plist>